<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STRONA O MNIE</title>
    <link rel="stylesheet" href="./../assets/index.css">
</head>
<body>
     <h1> {{pageTitle}}</h1>
     <h2> {{subtitle}}</h2>
     <h2> {{example1}}</h2>
    <h3 style="color: green;"> tutaj są informacje o mnie......</h3>
    <a href="./">powrót</a>
    <script src="./../js/func.js"></script>
    
</body>
</html>