<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STRONA GŁÓWNA</title>
    <link rel="stylesheet" href="./../assets/index.css">
</head>
<body>
    <h1> {{pageTitle}}</h1>
    <h2 style="color: blue;"> {{subtitle}}</h2>
    <h2> {{example}}</h2>

    <ul style="color: red;">
        <li> Punkt pierwszy  </li>
        <li> Punkt drugi </li>
        <li> Punkt trzeci </li>  
    </ul>

    <input type="text" id="val">
    <button id="btn">Kliknij mnie</button>
    <div id="output"></div>
    <a href="./about">Przejdź do strony o mnie</a>
    <script src="./../js/func.js"></script>
</body>
</html>